@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../HelveticaNeue-Bold.ttf");
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #login {
  position: absolute;
  z-index: 5;
  width: 343px;
  height: 693px;
  transform: scale(0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container #login img#logo {
  width: 200px;
  height: auto;
}

.container #login section#login-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container #login section#login-form-section input#username, .container #login section#login-form-section input#password, .container #login section#login-form-section #submit {
  display: block;
  margin: 1em auto;
  width: 70%;
  font-weight: 900;
}

.container #login section#login-form-section input#username, .container #login section#login-form-section input#password {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 1em;
  border: none;
  color: #000;
  background-color: #fff;
}

.container #login section#login-form-section input#username:focus, .container #login section#login-form-section input#password:focus {
  background-color: #CCC5A3;
  background-color: #FCF4CA;
  border: none;
  outline: 0;
}

.container #login section#login-form-section #submit {
  padding: 0.75em 1.5em;
  font-weight: 800;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 24px;
  border: 0.05px solid black;
  background-color: transparent;
  transition: all 200ms linear;
  width: 50%;
  background-color: transparent;
  transition: background-color 200ms ease-in;
}

.container #login section#login-form-section #submit:active {
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.container #welcome-main-content {
  position: absolute;
  z-index: 4;
  width: 343px;
  height: 693px;
  transform: scale(0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container #welcome-main-content #welcome-top-content {
  position: relative;
  top: 4em;
  right: 2.5em;
}

.container #welcome-main-content #welcome-top-content div p:nth-child(1) {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.container #welcome-main-content #welcome-top-content div p:nth-child(2) {
  font-size: 1.5em;
  text-transform: uppercase;
}

.container #welcome-main-content #welcome-top-content div h4 {
  font-weight: 900;
}

.container #welcome-main-content #welcome-middle-content {
  position: relative;
  top: 5em;
  width: 80%;
}

.container #welcome-main-content #welcome-middle-content #checking,
.container #welcome-main-content #welcome-middle-content #savings {
  height: 120px;
  background-color: #fff;
  border-radius: 1em;
  margin: 0 auto;
  margin-bottom: 1em;
  position: relative;
  z-index: 5;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container #welcome-main-content #welcome-middle-content #checking h3,
.container #welcome-main-content #welcome-middle-content #savings h3 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 2em;
}

.container #welcome-main-content #welcome-middle-content #checking p:nth-child(2),
.container #welcome-main-content #welcome-middle-content #savings p:nth-child(2) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container #welcome-main-content #welcome-middle-content #checking p:nth-child(3),
.container #welcome-main-content #welcome-middle-content #savings p:nth-child(3) {
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 2em;
}

.container #welcome-main-content #welcome-middle-content #account {
  position: relative;
  top: -0.25em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  color: rgba(0, 0, 0, 0.6);
}

.container #welcome-main-content #welcome-middle-content #account #account-button {
  padding: 0.75em 1.5em;
  font-weight: 800;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 24px;
  border: 0.05px solid black;
  background-color: transparent;
  transition: all 200ms linear;
  text-decoration: none;
}

.container #welcome-main-content #welcome-middle-content #account #account-button:hover {
  background-image: linear-gradient(0deg, #a5a3cb, #c9c8d6) !important;
}

.container #welcome-main-content #welcome-middle-content #deal {
  position: relative;
  top: -0.25em;
}

.container #welcome-main-content #welcome-middle-content #deal p {
  margin: 0.25em 0 0 2em;
  font-weight: 800;
}

.container #welcome-main-content #welcome-middle-content #deal p img#offer {
  position: relative;
  top: 0.2em;
  width: 1.2em;
  margin-left: 0.5em;
}

.container #welcome-main-content #welcome-middle-content #deal div#deal-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container #welcome-main-content #welcome-middle-content #deal div#deal-icons img {
  width: 30%;
}

.container #welcome-main-content #welcome-bottom-content {
  position: relative;
  top: 5.25em;
  height: 120px;
  width: 80%;
}

.container #welcome-main-content #welcome-bottom-content div {
  display: flex;
  justify-content: space-between;
}

.container #welcome-main-content #welcome-bottom-content div div {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container #welcome-main-content #welcome-bottom-content div div img {
  width: 50%;
}

.container #welcome-main-content #welcome-bottom-content div div span {
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0.5em;
}

.container #checking-main-content {
  position: absolute;
  z-index: 4;
  width: 343px;
  height: 693px;
  transform: scale(0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container #checking-main-content #checking-1 {
  position: relative;
  top: 75px;
  left: 40px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container #checking-main-content #checking-1 h3 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
}

.container #checking-main-content #checking-1 p:nth-child(2) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container #checking-main-content #checking-1 p:nth-child(3) {
  font-size: 0.75em;
  letter-spacing: 2px;
}

.container #checking-main-content #checking-1 img#exclamation {
  width: 20px;
  position: relative;
  top: -1.25em;
  left: 130px;
  transform: scale(0.75);
}

.container #checking-main-content #checking-1 img#left {
  width: 30px;
  position: relative;
  right: 95px;
  top: -70px;
  padding: 3px;
  transform: scale(1.25);
  cursor: pointer;
  border-radius: 50%;
}

.container #checking-main-content #checking-1 img#left:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.container #checking-data {
  background-color: #fff;
  width: 275px;
  height: 420px;
  position: absolute;
  top: 154px;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 10fr 10fr 10fr 10fr 10fr 3fr;
}

.container #checking-data .checking-data-divs {
  width: 100%;
  border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  display: flex;
}

.container #checking-data .checking-data-divs div:nth-child(1) {
  padding: 1em;
}

.container #checking-data .checking-data-divs div:nth-child(1) .clock {
  width: 2em;
}

.container #checking-data .checking-data-divs div:nth-child(2) {
  width: 220px;
  padding-top: 2em;
  font-size: 0.5em;
  font-weight: bold;
  display: flex;
}

.container #checking-data .checking-data-divs div:nth-child(2) span:nth-child(2) {
  margin-left: auto;
  display: inline-block;
}

.container #checking-data .checking-data-divs div:nth-child(3) {
  position: relative;
  right: 190px;
  top: 2em;
}

.container #checking-data .checking-data-divs div:nth-child(3) h3 {
  font-weight: 800;
  font-size: 1.5em;
  font-size: 0.55em;
}

.container #checking-data #checking-data-divs-1 {
  border-radius: 1em 1em 0 0;
}

.container #checking-data #checking-data-divs-6 {
  border-radius: 0 0 1em 1em;
  display: flex;
  color: red;
  justify-content: center;
  font-size: 0.5em;
  font-weight: bold;
  position: relative;
  top: 1em;
  right: 3em;
}

.container #checking-data #checking-data-divs-6 #checking-data-divs-6-p {
  position: relative;
  right: 100px;
  width: 100%;
}

.container #checking-data .checking-data-divs:nth-child(5) {
  border: none;
}

.container div#template {
  width: 352px;
  height: 693px;
  position: absolute;
  background-image: url("../images/phone-template.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0.85);
  z-index: 2;
}

.container #wrapper-content {
  margin: 0 auto;
  width: 343px;
  height: 693px;
  background-color: #e0dfdf;
  position: relative;
  z-index: 1;
  transform: scale(0.85);
  border-radius: 3.5em;
}

.container #wrapper-content #top-background-gradient {
  position: relative;
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
  border-radius: 3.5em 3.5em 0 0;
  height: 170px;
}

.container #wrapper-content #bottom-white-background {
  position: relative;
  height: 100px;
  background: #fff;
  top: 25.8em;
}

.container #wrapper-content #full-gradient-background {
  position: absolute;
  top: 0px;
  height: 693px;
  width: 100%;
  border-radius: 3.5em;
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
}
/*# sourceMappingURL=style.css.map */