@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

$max-Width: 352px;
$max-Height: 693px;
$scale: 0.85;
$radius1: 3.5em;
$radius2: 1em;
$backGround: rgb(224, 223, 223);
$gradient1: 180deg, rgb(165, 163, 203), rgb(201, 200, 214);
$white: #fff;
@font-face {
  font-family: HelveticaNeue;
  src: url("../HelveticaNeue-Bold.ttf");
}
$HelveticaNeue: HelveticaNeue;
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ////////login starts here
  #login {
    position: absolute;
    z-index: 4;
    width: 343px;
    height: 693px;
    transform: scale($scale);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img#logo {
        width: 400px;
        height: auto;
    }
    section#login-form-section {
      width: 394px;
      display: flex;
      flex-direction: column;
      height: 100%;
      input#username, button {
          display: block;
        margin: 1em 0;
        width: 100%;
      }
    }
  }
  ////////welcome content starts here
  #welcome-main-content {
    position: absolute;
    z-index: 3;
    width: 343px;
    height: 693px;
    transform: scale($scale);
    display: flex;
    flex-direction: column;
    align-items: center;
    #welcome-top-content {
      position: relative;
      top: 4em;
      right: 2.5em;
      div {
        p:nth-child(1) {
          font-size: 1.5em;
          letter-spacing: 2px;
        }
        p:nth-child(2) {
          font-size: 1.5em;
          text-transform: uppercase;
        }
        h4 {
          font-weight: 800;
        }
      }
    }
    #welcome-middle-content {
      position: relative;
      top: 5em;
      width: 80%;
      #checking,
      #savings {
        height: 120px;
        background-color: $white;
        border-radius: $radius2;
        margin: 0 auto;
        margin-bottom: 1em;
        position: relative;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        h3 {
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 1px;
          font-size: 1em;
          line-height: 2em;
        }
        p:nth-child(2) {
          font-size: 1.75em;
          letter-spacing: 2px;
        }
        p:nth-child(3) {
          font-size: 0.75em;
          letter-spacing: 2px;
          line-height: 2em;
        }
      }
      #account {
        position: relative;
        top: -0.25em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        color: rgba(0, 0, 0, 0.6);
        #button {
          padding: 0.75em 1.5em;
          font-weight: 800;
          font-size: 1.15em;
          cursor: pointer;
          border-radius: 24px;
          border: 0.05px solid black;
          background-color: transparent;
          transition: all 200ms linear;
          text-decoration: none;
        }
        #button:hover {
          background-image: linear-gradient(
            0deg,
            rgb(165, 163, 203),
            rgb(201, 200, 214)
          ) !important;
        }
      }
      #deal {
        position: relative;
        top: -0.25em;
        p {
          margin: 0.25em 0 0 2em;
          font-weight: 800;
          img#offer {
            position: relative;
            top: 0.2em;
            width: 1.2em;
            margin-left: 0.5em;
          }
        }
        div#deal-icons {
          display: flex;
          justify-content: center;
          width: 100%;
          img {
            width: 30%;
          }
        }
      }
    }
    #welcome-bottom-content {
      position: relative;
      top: 5.25em;
      height: 120px;
      width: 80%;
      div {
        display: flex;
        justify-content: space-between;
        div {
          margin-top: 0.5em;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 50%;
          }
          span {
            font-size: 0.75em;
            font-weight: bold;
            margin-top: 0.5em;
          }
        }
      }
    }
  }
  ////////welcome content ends here
  #checking-main-content {
    position: absolute;
    z-index: 3;
    width: 343px;
    height: 693px;
    transform: scale($scale);
    display: flex;
    flex-direction: column;
    align-items: center;
    #checking-1 {
      position: relative;
      top: 75px;
      left: 40px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      h3 {
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 1em;
      }
      p:nth-child(2) {
        font-size: 1.75em;
        letter-spacing: 2px;
      }
      p:nth-child(3) {
        font-size: 0.75em;
        letter-spacing: 2px;
      }
      img#exclamation {
        width: 20px;
        position: relative;
        top: -1.25em;
        left: 130px;
        transform: scale(0.75);
      }
      img#left {
        width: 30px;
        position: relative;
        right: 95px;
        top: -70px;
        padding: 3px;
        transform: scale(1.25);
      }
      img#left:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
  #checking-data {
    background-color: $white;
    width: 275px;
    height: 420px;
    position: absolute;
    top: 154px;
    border-radius: $radius2;
    display: grid;
    grid-template-rows: 10fr 10fr 10fr 10fr 10fr 3fr;
    .checking-data-divs {
      width: 100%;
      //   height: 100%;
      border-bottom: 1px solid rgba(193, 193, 193, 0.3);
      display: flex;
      //   display: grid;
      div:nth-child(1) {
        padding: 1em;
        .clock {
          width: 2em;
        }
      }
      div:nth-child(2) {
        width: 220px;
        padding-top: 2em;
        font-size: 0.5em;
        font-weight: bold;
        display: flex;
        span:nth-child(2) {
          margin-left: auto;
          display: inline-block;
        }
      }
      div:nth-child(3) {
        // width: 200px;
        position: relative;
        right: 190px;
        top: 2em;

        h3 {
          font-weight: 800;
          font-size: 1.5em;
          font-size: 0.55em;
        }
      }
    }
    #checking-data-divs-1 {
      border-radius: 1em 1em 0 0;
    }
    #checking-data-divs-6 {
      border-radius: 0 0 1em 1em;
      display: flex;
      //   width: 100%;
      color: red;
      justify-content: center;
      font-size: 0.5em;
      font-weight: bold;
      position: relative;
      top: 1em;
      right: 3em;
      //   width: 440px;
      #checking-data-divs-6-p {
        position: relative;
        right: 100px;
        width: 100%;
      }
    }
    .checking-data-divs:nth-child(5) {
      border: none;
    }
  }
  //////////////backgrounds
  div#template {
    width: $max-Width;
    height: $max-Height;
    position: absolute;
    background-image: url("../images/phone-template.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale($scale);
    z-index: 2;
  }
  #wrapper-content {
    margin: 0 auto;
    width: 343px;
    height: 693px;
    background-color: $backGround;
    position: relative;
    z-index: 1;
    transform: scale($scale);
    border-radius: $radius1;
    #top-background-gradient {
      position: relative;
      background-image: linear-gradient($gradient1);
      border-radius: $radius1 $radius1 0 0;
      height: 170px;
    }
    #bottom-white-background {
      position: relative;
      height: 100px;
      background: $white;
      top: 25.8em;
    }
    #full-gradient-background {
      position: absolute;
      top: 0px;
      height: 693px;
      width: 100%;
      // background-color: red;
      border-radius: $radius1;
      background-image: linear-gradient($gradient1);
    }
  }
}
