@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #welcome-main-content {
  position: absolute;
  z-index: 3;
  width: 343px;
  height: 693px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #welcome-main-content #welcome-top-content {
  position: relative;
  top: 4em;
  right: 2.5em;
}

.container #welcome-main-content #welcome-top-content div p:nth-child(1) {
  font-size: 1.5em;
  letter-spacing: 2px;
}

.container #welcome-main-content #welcome-top-content div p:nth-child(2) {
  font-size: 1.5em;
  text-transform: uppercase;
}

.container #welcome-main-content #welcome-top-content div h4 {
  font-weight: 800;
}

.container #welcome-main-content #welcome-middle-content {
  position: relative;
  top: 5em;
  width: 80%;
}

.container #welcome-main-content #welcome-middle-content #checking,
.container #welcome-main-content #welcome-middle-content #savings {
  height: 120px;
  background-color: #FFF;
  border-radius: 1em;
  margin: 0 auto;
  margin-bottom: 1em;
  position: relative;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.container #welcome-main-content #welcome-middle-content #checking h3,
.container #welcome-main-content #welcome-middle-content #savings h3 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 2em;
}

.container #welcome-main-content #welcome-middle-content #checking p:nth-child(2),
.container #welcome-main-content #welcome-middle-content #savings p:nth-child(2) {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.container #welcome-main-content #welcome-middle-content #checking p:nth-child(3),
.container #welcome-main-content #welcome-middle-content #savings p:nth-child(3) {
  font-size: 0.75em;
  letter-spacing: 2px;
  line-height: 2em;
}

.container #welcome-main-content #welcome-middle-content #account {
  position: relative;
  top: -0.25em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: auto;
  color: rgba(0, 0, 0, 0.6);
}

.container #welcome-main-content #welcome-middle-content #account #button {
  padding: 0.75em 1.5em;
  font-weight: 800;
  font-size: 1.15em;
  cursor: pointer;
  border-radius: 24px;
  border: 0.05px solid black;
  background-color: transparent;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none;
}

.container #welcome-main-content #welcome-middle-content #account #button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a5a3cb), to(#c9c8d6)) !important;
  background-image: linear-gradient(0deg, #a5a3cb, #c9c8d6) !important;
}

.container #welcome-main-content #welcome-middle-content #deal {
  position: relative;
  top: -0.25em;
}

.container #welcome-main-content #welcome-middle-content #deal p {
  margin: 0.25em 0 0 2em;
  font-weight: 800;
}

.container #welcome-main-content #welcome-middle-content #deal p img#offer {
  position: relative;
  top: 0.2em;
  width: 1.2em;
  margin-left: 0.5em;
}

.container #welcome-main-content #welcome-middle-content #deal div#deal-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container #welcome-main-content #welcome-middle-content #deal div#deal-icons img {
  width: 30%;
}

.container #welcome-main-content #welcome-bottom-content {
  position: relative;
  top: 5.25em;
  height: 120px;
  width: 80%;
}

.container #welcome-main-content #welcome-bottom-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #welcome-main-content #welcome-bottom-content div div {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #welcome-main-content #welcome-bottom-content div div img {
  width: 50%;
}

.container #welcome-main-content #welcome-bottom-content div div span {
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0.5em;
}

.container #checking-data {
  background-color: #FFF;
  width: 234px;
  height: 365px;
  position: absolute;
  top: 10.5em;
  z-index: 3;
  border-radius: 1em;
}

.container div#template {
  width: 352px;
  height: 693px;
  position: absolute;
  background-image: url("../images/phone-template.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  z-index: 2;
}

.container #wrapper-content {
  margin: 0 auto;
  width: 343px;
  height: 693px;
  background-color: #e0dfdf;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  border-radius: 3.5em;
}

.container #wrapper-content #top-background-gradient {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a3cb), to(#c9c8d6));
  background-image: linear-gradient(180deg, #a5a3cb, #c9c8d6);
  border-radius: 3.5em 3.5em 0 0;
  height: 170px;
}

.container #wrapper-content #bottom-white-background {
  position: relative;
  height: 100px;
  background: #FFF;
  top: 25.8em;
}
/*# sourceMappingURL=style.css.map */